<div class="card-deck mt-2 mb-2">
  <div class="card" *ngFor="let item of items;let index = index">
    <img *ngIf="item.location" [src]="item.location" class="img-fluid card-img-top p-2" [alt]="item.description">
    <div class="card-body">
      <h4 *ngIf="item.title" class="card-title text-center">{{item.title}} - {{item.order}}</h4>
      <p *ngIf="item.description" class="card-text ">{{item.description}}</p>
      <p *ngIf="item.text" class="card-text">{{item.text}}</p>
    </div>
    <div class="card-footer footer-categories">
      <ul class="list-group list-group-flush">
        <div *ngFor="let category of item.categories" class="alert alert-primary">{{category}}</div>
      </ul>
    </div>
    <div *ngIf="hasButton" class="card-footer text-center">
      <button type="button" class="btn btn-primary w-80" data-toggle="modal"
        data-target="#detailmodal" data-backdrop="static" (click)="openModal(index)">View details</button>
    </div>
  </div>
</div>


<app-modal *ngIf="showModal" [index]="indexSelected"></app-modal>
